.filters {
  height: 70px;
  background-color: white;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

button {
  font-size: 18px;
  background-color: #ff5a5f;
  height: 48px;
  color: #ffffff;
  width: 20%;

  border-style: none;
  border-radius: 4px;
  margin-right: 30px;
  margin-top: 11px;

  float: right;
}

button:hover {
  opacity: 90%;
}
